h1, p, div {
text-align: center;
font-family: 'Poppins', sans-serif;

}

.myPic {
    border-radius: 50%;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.aboutMe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .aboutMe {
        width: 500px; 
        height: 300px;
    }
}